<article>
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= @article.created_at.strftime("%Y-%m-%d") %></th>
        <td>
          <%= @article.title %><span class="counter"><%= @article.count %> 人次</span>
          <input id="article_content" style="display:none;" type="text" value="<%=@article.content%>">
        </td>
      </tr>
    </table>
  </section>
  <!--title-->
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>網址</th>
        <td><%= @article.namehash %></td>
      </tr>
    </table>
  </section>
  <!--title-->
  <section class="text text-show" id="articleContent"></section>
  <!--text-->
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>關鍵字</th>
        <td><%= @article.metakw %></td>
      </tr>
    </table>
  </section>
  <!--title-->
  <section class="button">
    <%= link_to (image_tag("/images/edit.png")+'編輯'), edit_admin_article_path(@article) %>
    <%= link_to (image_tag("/images/back_icon.png")+'返回'), admin_articles_path %>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parents("li").addClass("active");

  editor.output();

  $("#articleContent").children("div").each(function(){
    $(this).addClass("part");
  });
});
</script>
