
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
</head>

<body>

<table width="100%" border="1" bordercolor="eeeeee" cellspacing="5" cellpadding="0">
  <tr>
    <th width="9%" height="30" >客戶姓名</th>
    <td width="24%" bgcolor="#f3f3f3" style="padding:0 0 0 10px"><%= @ticket.name %></td>
    <th width="9%">連絡電話</th>
    <td width="24%" bgcolor="#f3f3f3" style="padding:0 0 0 10px"><%= @ticket.phone %></td>
    <th width="9%">電子郵件</th>
    <td width="25%" bgcolor="#f3f3f3" style="padding:0 0 0 10px"><%= @ticket.email %></td>
  </tr>
  <tr>
    <th height="30">服務需求</th>
    <td colspan="5" bgcolor="#f3f3f3" style="padding:0 0 0 10px">
    <%= @ticket.issue %>
    <%= "、其他" if !@ticket.issue.nil? && !@ticket.content.nil?  %>
    <%= "〈" + @ticket.content + "〉" if !@ticket.content.nil?  %></td>
  </tr>
</table>


</body>
</html>