<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" class="title" height="22" width="103"><%= @ticket.created_at.to_date %></td>
          <td width="543" valign="middle" class="text"><%= @ticket.name %></td>
        </tr>
  </table>
  <table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <th width="8%" align="left" valign="top">電話：</th>
            <td width="32%" align="left"><%= @ticket.phone %></td>
            <th width="17%" align="left" valign="top">姓名：</th>
            <td width="43%" align="left"><%= @ticket.name %></td>
          </tr>
          <tr>
            <th width="17%" align="left" valign="top">收貨人電話：</th>
            <td width="43%" align="left"><%= @ticket.phone %></td>
          </tr>
          <tr>
            <th width="8%" align="left" valign="top">郵件：</th>
            <td width="32%" align="left"><%= @ticket.email %></td>
          </tr>
          <tr>
            <th width="8%" align="left" valign="top">需求內容：</th>
            <td width="32%" align="left"><%= @ticket.issue %></td>
          </tr>
          </table>
  </body>
</html>