<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="../js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="網頁設計, 網站設計, 價格, 報價, 網路媒體，網路行銷"/>
<meta name="description" content="合理的價格，客製化的報價，與我們一起整理出最適合的網站設計方案，夏天廣告為您規劃更完整的網路行銷企劃，善用網路媒體的力量。每一個網站都不一樣，我們傾聽客戶需求，讓網頁設計從第一步就與眾不同！"/>
<meta property="og:title" content="業務聯絡 | 夏天廣告×當代網頁設計觀點"/>
<meta property="og:description" content="合理的價格，客製化的報價，與我們一起整理出最適合的網站設計方案，夏天廣告為您規劃更完整的網路行銷企劃，善用網路媒體的力量。每一個網站都不一樣，我們傾聽客戶需求，讓網頁設計從第一步就與眾不同！"/>
<meta property="og:site_name" content="夏天廣告官方網站"/>
<meta property="og:type" content="company"/>
<meta property="og:image" content="images/thumbnail.jpg"/>
<meta name="msvalidate.01" content="BD7CCAECD53F3EDDF89A9F154C15F65E" />
<link rel="image_src" href="../images/thumbnail.jpg"/>
<title>業務聯絡 | 夏天廣告×當代網頁設計觀點</title>
<link rel="shortcut icon" href="../images/favicon.ico" >
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/contact.css">
<link rel="stylesheet" href="../css/alertify.css" />
<link rel="stylesheet" href="../css/alertify.default.css" id="toggleCSS" />
<script src="../js/jquery-1.8.1.min.js"></script>
<script src="../js/auto-full-height.min.js"></script>
<script src="../js/alertify.min.js"></script>
<script>
  jQuery(document).ready(function(){
	$("body").css("display", "none");
    $("body").fadeIn(500);
	$("aside a").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(500, redirectPage);
    }); 	
    function redirectPage() {
        window.location = linkLocation;
    }	
});
</script>
<script>
var userAgent = window.navigator.userAgent.toLowerCase();
$.browser.version = (userAgent.match( /.(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [0, '0'])[1];
var version = $.browser.version;
if ($.browser.msie) {
	if (parseFloat(version) < 8.0) { 
		document.location.href="oops.html" + window.location.hash;
	}
}
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22983915-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38776205-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?488af24fc55cb9a4eeac7da38383e935";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
<aside _height="none"> <a href="http://www.summers.com.tw" title="夏天廣告 | 網頁設計觀點">夏天廣告</a> </aside>
<article _height="auto">
  <div id="vert">
  <%= form_for( @ticket ) do | f | %>
    <div class="flt" id="flt-1">
      <div id="bubble"></div>
      <div id="info" itemscope itemtype="http://data-vocabulary.org/Organization">
        <h2>業務連絡</h2>
        <strong>朱先生</strong> / Andy<br>
        </br>
        <span itemprop="tel">02-23219217分機 25</span><br>
        <span itemprop="region">北市</span><span itemprop="street-address">新生南路一段142號3樓</span> </div>
    </div>
    <div class="flt" id="flt-2">
      <div class="title">
        <h3>聯絡資訊</h3>
        <p>三個都設定為必填</p>
      </div>
      <!--title-->
      <div class="form" id="form-1">
        <ol>
          <ul>
            <li class="name"><%= f.label :name, '姓名' %></li>
            <li class="enter">
            	<%= f.text_field :name, :class => "text validate", :data => { :validate=> "姓名" } %>
            </li>
          </ul>
          <ul>
            <li class="name"><%= f.label :name, '電話' %></li>
            <li class="enter">
            	<%= f.text_field :phone, :class => "text validate valid_tel", :data => { :validate=> "電話" }  %>
            </li>
          </ul>
          <ul>
            <li class="name"><%= f.label :name, 'email' %></li>
            <li class="enter">
            	<%= f.text_field :email, :class => "text validate valid_email", :data => { :validate=> "email" }  %>
            </li>
          </ul>
        </ol>
      </div>
      <!--form--> 
    </div>
    <!--flt-->
    <div class="flt" id="flt-3">
      <div class="title">
        <h3>服務需求</h3>
        <p>可複選</p>
      </div>
      <!--title-->
      
      <div class="form" id="form-2">
        <div>
          <input type="checkbox" id="cb1" name="ticket[issue][]" value="網站設計"/>
          <label for="cb1"><span></span>網站設計</label>
        </div>
        <div>
          <input type="checkbox" id="cb2" name="ticket[issue][]" value="網站改版"/>
          <label for="cb2"><span></span>網站改版</label>
        </div>
        <div>
          <input type="checkbox" id="cb3" name="ticket[issue][]" value="廣告設計"/>
          <label for="cb3"><span></span>廣告設計</label>
        </div>
        <div id="other-left">
          <input type="checkbox" id="cb4" name="cb" value="其他"/>
          <label for="cb4"><span></span>其他</label>
        </div>
        <div id="other-right">
          <input type="text" name="ticket[content]" class="text"/>
        </div>
      </div>
      <!--form--> 
    </div>
    <!--flt-->
    <div class="flt" id="send"> 
    	<a id="alert">確認送出</a>
    	<!--input id="alert" class="sendTicket" type="image" src="../../images/contact-send.jpg" value="submit" /-->
    </div>
    <!--flt--> 
  <% end %>
  </div>
  <!--vert--> 
    <script>
  var
  	d = Alertify.dialog,
  	l = Alertify.log,
  	$ = Alertify.get,
  	reset = function () {
  		$("toggleCSS").href = "/css/alertify.default.css";
        d.labels.ok     = "OK";
        d.labels.cancel = "Cancel";
        d.buttonReverse = false;
        d.buttonFocus   = "ok";
        l.delay         = 5000;
    };
    
    
	  var finished = window.location.hash.substr(1) == "finished";
	  if (finished) {
		  var
		  	d = Alertify.dialog,
		  	l = Alertify.log,
		  	$ = Alertify.get,
		  	reset = function () {
		  		$("toggleCSS").href = "../css/alertify.default.css";
		        d.labels.ok     = "OK";
		        d.labels.cancel = "Cancel";
		        d.buttonReverse = false;
		        d.buttonFocus   = "ok";
		        l.delay         = 5000;
		    };
		    
	        Alertify.dialog.alert("感謝您撥空填寫，您的需求我們收到了，專業顧問將儘速為您服務！");
	
	  }

    
	$("alert").onclick = function () {
	
    	//jQuery("form").submit();
    	reset();
        Alertify.dialog.alert("感謝您撥空填寫，您的需求我們收到了，專業顧問將儘速為您服務！");
        return false;
	}
  </script>
  <script>
  
  jQuery("body").css("display", "none");
  jQuery("body").fadeIn(500);
  jQuery("aside a").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        jQuery("body").fadeOut(500, redirectPage);
  });   
  function redirectPage() {
        window.location = linkLocation;
  }
  
  jQuery("form").submit(function(){
    return validateForm();
  });

  function validateForm(){
    var alertMsg = "";
    var submit = true;

    if(jQuery("#other-left input:checkbox")[0].checked){
      jQuery("#other-right input:text").addClass("validate");
    }
    else{
      jQuery("#other-right input:text").removeClass("validate");
    }

    //驗證不為空
    jQuery(".validate").each(function(){
      if(!jQuery(this).val()){
        alertMsg += "請填寫您的"+jQuery(this).data("validate")+"<br />";
        submit = false;
      }
    });

    //validate email value
    var emailrule = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    if(jQuery(".valid_email").val() && !jQuery(".valid_email").val().match(emailrule)){
      submit = false;
      alertMsg += "請輸入正確的email<br />";
    }

    //validate tel value
    var telrule = /^(\(?0\d{1,3}\)?-?)?(\d)+$/;
    if(jQuery(".valid_tel").val() && !jQuery(".valid_tel").val().match(telrule)){
      submit = false;
      alertMsg += "請輸入正確的聯絡電話<br />";
    }
    
    if(jQuery("input:checkbox:checked").length == 0){
      submit = false;
      alertMsg += "請勾選服務需求<br />";
    }

	if (alertMsg) {		
    	Alertify.dialog.alert(alertMsg);
	}
	

    return submit;
  }
</script>
  
  
</article>
<footer _height="none">
  <div class="parallax-layer" id="cloud-bg-b"> </div>
  <div class="parallax-layer" id="cloud-bg-f"> </div>
  <div class="parallax-layer" id="p-cloud"> </div>
  <div class="parallax-layer" id="earthman"> </div>
  
  <!-- Google Code for &#36914;&#20837;&#26989;&#21209;&#32879;&#32097;&#38913;&#38754; Conversion Page --> 
  <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1012896485;
var google_conversion_language = "zh_TW";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
var google_conversion_label = "IUDLCJvvqAUQ5aX-4gM";
var google_conversion_value = 1;
/* ]]> */
</script> 
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
  <noscript>
  <div style="display:inline;background:#fff"> <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1012896485/?value=1&amp;label=IUDLCJvvqAUQ5aX-4gM&amp;guid=ON&amp;script=0"/> </div>
  </noscript>
</footer>
</body>
</html>
