<article>
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= @ticket.created_at.strftime("%Y-%m-%d") %></th>
        <td><%= @ticket.name %></td>
      </tr>
    </table>
  </section>
  <!--title-->
  <section class="text text-show">
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top">電話：</th>
          <td><%= @ticket.phone %></td>
        </tr>
      </table>
    </div>

    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top">郵件：</th>
          <td><%= @ticket.email %></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top">需求：</th>
          <td><%= @ticket.issue %></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th >其他：</th>
          <td><%= @ticket.content %></td>
        </tr>
      </table>
    </div>
  </section>
  <!--text-->
  <section class="button">
  <%= link_to image_tag("/images/back_icon.png")+'返回', admin_tickets_path %>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-1").parents("li").addClass("active");
});
</script>